@mixin play-button-before($color: "white") {
  content: " ";
  display: inline-block;
  width: 1em;
  height: 1em;
  background: no-repeat center center;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0L16 8L0 16V0Z' fill='#{$color}'/%3E%3C/svg%3E%0A");
  vertical-align: middle;
  margin-right: 9px;
  margin-left: -5px;
}

.sff-s72-user-menu {
  margin-left: 11px;
  .sff-account-icon {
    background: no-repeat center center / cover;
    background-image: url("data:image/svg+xml,%3Csvg width='32px' height='32px' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1'%3E%3Cpath fill='%23000000' class='primary-color' d='M13,18 L19,18 C22.3137085,18 25,20.6862915 25,24 L25,26 C25,26.5522847 24.5522847,27 24,27 L8,27 C7.44771525,27 7,26.5522847 7,26 L7,24 C7,20.6862915 9.6862915,18 13,18 Z M16,16 C13.2385763,16 11,13.7614237 11,11 C11,8.23857625 13.2385763,6 16,6 C18.7614237,6 21,8.23857625 21,11 C21,13.7614237 18.7614237,16 16,16 Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;
  }
}

.btn,
.s72-btn,
.btn-navbar-search {
  font-family: inherit;
}

.page {
  padding-top: 0;
}

:root {
  font-size: 16px !important;
}

.page-collection-title {
  font-size: 20px;
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: bold;
  border-top: 1px solid black;
}

// .btn,
// .s72-btn,
// .btn-navbar-search {
//   border-radius: 0;
//   font-size: 14px;
//   line-height: 1.214;
//   text-transform: uppercase;
//   font-weight: bold;
//   letter-spacing: 1px;
//   padding-top: 12px;
//   padding-bottom: 11px;
// }

.single-event {
  .-image-slides {
    .-single {
      s72-image {
        display: block;
      }
    }
  }

  .-rent-button {
    display: flex;
    align-items: flex-end;

    .s72-btn-rent {
      background: #ffed00;
      color: #170c66;
    }
  }
}

#header {
  .sff-s72-user-menu {
    a {
      color: white;
    }
  }

  .current-menu-item {
    font-weight: bold;
  }

  .-donate-button {
    a:hover {
      text-decoration: none;
      transform: none !important;
    }
  }
}

.poster {
  border-radius: 0;
}

.meta-item-landscape {
  .meta-item-caption {
    padding-top: 12px;
  }

  .-status-text {
    position: absolute;
    left: 10px;
    bottom: 8px;
    z-index: 20;
    white-space: nowrap;
    background: rgba(0, 0, 0, 0.6);
    padding: 2px 5px;

    s72-availability-label,
    s72-availability-status {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .availability-bg {
      padding: 0 !important;
      background: transparent !important;
    }
  }

  .meta-item-link {
    display: block !important;
  }

  .meta-item-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    // margin-top: 5px;
    margin-bottom: 7px;
    color: #000000;
  }

  .meta-item-description {
    font-size: 14px;
    color: #444;
    line-height: 1.333;

    .-genre-name {
      font-weight: bold;
      margin-right: 4px;
    }

    .-text {
      margin-right: 6px;

      b,
      strong {
        font-weight: normal;
      }
    }

    .-runtime {
      color: rgba(0, 0, 0, 0.6);

      &:after {
        content: " ";
        display: inline-block;
        margin-right: 3px;
      }
    }
  }

  .poster-landscape {
    padding-top: 56.41025641%;
    background: rgba(0, 0, 0, 0.05);

    s72-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      transition: transform 1s cubic-bezier(0.5, 1, 0.89, 1);
    }
  }

  a:hover {
    s72-image {
      transform: scale(1.06);
    }

    .-status-text {
      display: none !important;
    }
  }

  .meta-item-body {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.1) 40%,
      rgba(0, 0, 0, 0.4) 100%
    );
    z-index: 1;
  }

  .s72-btn-rent {
    background: black;
    color: white;
    position: absolute;
    right: 10px;
    bottom: 10px;
    height: auto;
    line-height: 1.9em;
    font-size: 12px;
    padding: 0 9px;
    transition: none;

    &:hover {
      // background: blue;
      background: #ffed00;
      color: #170c66;
    }
  }

  a:hover meta-item-body {
  }
}

.s72-userwishlist-buttons {
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 10;

  button {
    padding: 0;
    width: 16px;
    height: 16px;
    background: no-repeat center center;
    outline: none !important;
    box-shadow: none !important;

    .s72-icon {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 16px;
      height: 16px;

      &.s72-icon-wishlist-add {
        background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 16 16' style='enable-background:new 0 0 16 16;' xml:space='preserve'%3E%3Cpath style='fill: white' d='M14,16l-5.5-3L3,16V1h11V16z M8.5,11.9l4.5,2.5V2H4v12.3L8.5,11.9z'%3E%3C/path%3E%3C/svg%3E");
      }

      &.s72-icon-wishlist-remove {
        background-image: url("data:image/svg+xml, %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 16 16' style='enable-background:new 0 0 16 16;' xml:space='preserve'%3E%3Cpath style='fill: white' d='M3,1v15l5.5-3l5.5,3V1H3z M7.5,10.2L5.3,8L6,7.3l1.5,1.5l4-4l0.7,0.7L7.5,10.2z' /%3E%3Cpolygon style='fill: black;' points='12.2,5.5 7.5,10.2 5.3,8 6,7.3 7.5,8.8 11.5,4.8 '/%3E%3C/svg%3E");
      }
    }

    &:hover {
      transform: none !important;
    }
  }
}

.film-grid-item {
  margin-bottom: 50px;
}

.carousel-bg {
  background: #170c66;

  .s72-carousel-control {
    display: none;
  }
}

.homepage-slider-tile {
  .-contents {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .container {
      .-inner {
        width: 50%;
      }
    }

    .-title {
      font-family: "Agrandir-Narrow";
      color: #00ffff;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 18px;
      line-height: 1;
    }

    .-meta {
      color: #00ffff;
      text-transform: uppercase;
      // font-weight: bold;
      font-size: 12px;
      padding-top: 8px;
      padding-bottom: 20px;
      line-height: 1;
      letter-spacing: 0.1em;
    }

    .-text {
      color: white;
      font-size: 14px;
      margin-bottom: 20px;
      display: none;
    }

    .-buttons {
      .button {
        margin-right: 8px;

        &.--trailer {
          background-color: #00ffff;
          color: black;

          &:before {
            @include play-button-before;
          }
        }
      }

      .s72-btn-rent {
        margin-right: 8px;
        background: yellow;
        color: black;
      }
    }
  }

  .-image-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 25%;

    &:before {
      content: " ";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 20%;
      z-index: 2;
      background: linear-gradient(
        to right,
        rgba(23, 12, 102, 1),
        rgba(23, 12, 102, 0)
      );
    }

    .-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }
}

.s72-carousel-slides {
  height: 60vw !important;
  margin-bottom: 2vw;

  .-text {
    display: none;
  }

  .-buttons {
    display: none;
  }

  @media (min-width: 500px) {
    height: 50vw !important;

    .-title {
      font-size: 24px;
    }

    .-text {
      display: block;
    }

    .-buttons {
      display: flex;
    }
  }

  @media (min-width: 900px) {
    .container {
      .-title {
        font-size: 48px;
      }

      .-inner {
        width: 30%;
      }
    }
  }
}

.dropdown-menu,
.s72-dropdown-menu {
  border-radius: 0;
  font-size: 14px;

  .current-user-info {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;

    em {
      text-transform: uppercase;
      font-size: 11px;
      letter-spacing: 0.01em;
      font-style: normal;
    }
  }

  .s72-dropdown-ite,
  a.dropdown-item {
    color: black !important;
    transition: none !important;
    font-size: inherit;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1em;
    // max-width: 400px;
    // white-space: normal;

    &:hover {
      background: #170c66;
      color: white !important;
    }
  }
}

#header .s72-dropdown-menu {
}

input[type="radio"],
input[type="checkbox"] {
  display: inline-block !important;
}

.s72-shopping-modal-header-title {
  .s72-btn-close {
    color: black;
  }
}

.s72-program-strand-header {
  h1 {
    font-weight: bold;
    margin-top: 40px !important;
    margin-bottom: 30px !important;
  }
}

.page-content {
  p {
    margin-bottom: 0.8em;
  }
}

.s72-btn-play .s72-btn-play-icon {
  display: none !important;
}

.s72-btn-play {
  color: white !important;

  &:before {
    @include play-button-before;
  }
}

.single-event .-trailer-buttons .-trailer-button {
  &:before {
    display: none !important;
  }
}

.related-film-slider {
  h4 {
    font-weight: bold;
    font-size: 1.1em;
  }
}

.bundle-intro-text {
  font-size: 18px;
  line-height: 24px;
  margin-top: 28px;
  margin-bottom: 28px;
}

.s72-userlibrary-items {
  display: flex;
  flex-wrap: wrap;

  > .meta-item {
    width: 100%;
    flex: 0 0 auto;
  }

  @media screen and (min-width: 700px) {
    margin-left: -20px;

    > .meta-item {
      width: calc((100% - 20px - 20px) / 2);
      margin-left: 20px;
    }
  }

  @media screen and (min-width: 1150px) {
    margin-left: -20px;

    > .meta-item {
      width: calc((100% - 20px * 3 - 20px) / 4);
      margin-left: 20px;
    }
  }
}
